@use "var";

@keyframes up-down {
  0% {
    transform: translateY(-2rem);
  }

  50% {
    transform: translateY(2rem);
  }

  100% {
    transform: translateY(-2rem);
  }
}

.landing {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  font-size: 3rem;
  background-image: url(../public/gradient.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .text {
    z-index: 2;
    width: 90rem;

    .title {
      font-weight: var.$bold;
      color: white;
      font-size: 5rem;
      margin-bottom: 3rem;
      text-transform: uppercase;
    }

    .desc {
      color: rgba(255, 255, 255, 0.329);
      font-weight: var.$regular;
      font-size: 2rem;
    }
  }

  .cta {
    margin-top: 5rem;
    width: 40rem;
    display: flex;
    justify-content: space-between;

    .buttonPrimary {
      font-size: 2rem;
      padding: 1.5rem 4rem;
      transition: 150ms;
      color: white;
      border: 1px solid white;
    }

    .buttonPrimary:hover {
      color: black;
      background-color: white;
    }

    .buttonSecondary {
      font-size: 2rem;
      padding: 1.5rem 4rem;
      transition: 150ms;
      color: black;
      background-color: white;
      border: 1px solid rgba(255, 255, 255, 0);
    }

    .buttonSecondary:hover {
      color: white;
      background-color: rgba(255, 255, 255, 0.2);
      border: 1px solid white;
    }
  }

  .arrowDown {
    width: 100%;
    //position: absolute;
    // bottom: 0;
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: up-down;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
}

@media (max-width: 1200px) {
  .landing {
    .text {
      width: 55rem;

      .title {
        font-size: 4rem;
      }

      .desc {
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 576px) {
  .landing {
    .text {
      width: 35rem;

      .title {
        font-size: 3.5rem;
      }

      .desc {
        font-size: 1.5rem;
      }
    }

    .cta {
      flex-direction: column;
      width: 20rem;
      height: 15rem;
    }
  }
}
